<app-layout>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>column1</th>
        <th>column1</th>
        <th>column1</th>
        <th>column1</th>
        <th>column1</th>
        <th>column1 Lorem, ipsum.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>data1</td>
        <td>data1</td>
        <td>data1</td>
        <td>data1 Lorem ipsum dolor sit.</td>
        <td>data1 Lorem ipsum dolor sit.</td>
        <td>data1 Lorem ipsum dolor sit.</td>
      </tr>
      <tr>
        <td>data1</td>
        <td>data1</td>
        <td>data1</td>
        <td>data1 Lorem ipsum dolor sit.</td>
        <td>data1 Lorem ipsum dolor sit.</td>
        <td>data1 Lorem ipsum dolor sit.</td>
      </tr>
    </tbody>
  </table>
  this is app education
  <div> {{obd}} </div>
</app-layout>