<mat-toolbar>
  <button
    *ngIf="opened"
    (click)="toggleDrower()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <button
    *ngIf="!opened"
    (click)="toggleDrower()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ait wihi A.</span>
  <button (click)="changeMode()" mat-button>
    change mode to be {{ nextMode }}
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="layout">
  <mat-sidenav class="layout-sidebar" [(opened)]="opened" mode="{{ mode }}">
    <app-side-menu></app-side-menu>
  </mat-sidenav>
  <mat-sidenav-content class="layout-content pt-3">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
