/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: red;
}

.clean-a {
  color: inherit;
}

.clean-a:hover {
  color: inherit;
}

:root {
  /* headings */
  --h1-home: 70px;
  --h3-home: 24px;
  --h1-size: 40px;
  --h2-size: 30px;
  --h3-size: 20px;
  --h4-size: 60px;
  --h5-size: 60px;
  /* paragraphs */
  --para1-size: 24px;
  --para2-size: 24px;
  --para3-size: 24px;
  --para4-size: 24px;
  /* colors */
  --main-color: #ffffff;
  --sec-color: #fab518;
}

@media only screen and (max-width: 1024px) {
  :root {
    /* headings */
    --h1-home: 40px;
    --h3-home: 18px;
    --h1-size: 60px;
    --h2-size: 20px;
    --h3-size: 20px;
    --h4-size: 60px;
    --h5-size: 60px;
    /* paragraphs */
    --para1-size: 24px;
    --para2-size: 24px;
    --para3-size: 24px;
    --para4-size: 24px;
  }
  .first {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .second {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@font-face {
  font-family: "arial nova";
  src: url("./assets/fonts/arial_nova/ArialNova.ttf");
}

@font-face {
  font-family: "arial nova";
  src: url("./assets/fonts/arial_nova/ArialNova.eot");
}

@font-face {
  font-family: "arial nova";
  src: url("./assets/fonts/arial_nova/ArialNova.woff");
}

@font-face {
  font-family: "arial nova";
  src: url("./assets/fonts/arial_nova/ArialNova.woff2");
}

@font-face {
  font-family: "arial nova bold";
  src: url("./assets/fonts/arial_nova/ArialNova-Bold.ttf");
}

@font-face {
  font-family: "arial nova bold";
  src: url("./assets/fonts/arial_nova/ArialNova-Bold.eot");
}

@font-face {
  font-family: "arial nova bold";
  src: url("./assets/fonts/arial_nova/ArialNova-Bold.woff");
}

@font-face {
  font-family: "arial nova bold";
  src: url("./assets/fonts/arial_nova/ArialNova-Bold.woff2");
}

@font-face {
  font-family: "arial nova light";
  src: url("./assets/fonts/arial_nova/ArialNova-Light.ttf");
}

@font-face {
  font-family: "arial nova light";
  src: url("./assets/fonts/arial_nova/ArialNova-Light.eot");
}

@font-face {
  font-family: "arial nova light";
  src: url("./assets/fonts/arial_nova/ArialNova-Light.woff");
}

@font-face {
  font-family: "arial nova light";
  src: url("./assets/fonts/arial_nova/ArialNova-Light.woff2");
}

body,
div {
  font-family: "arial nova";
}

/* header styling */
@media only screen and (min-width: 992px) {
  .languge-button {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: black;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

nav ul {
  border-bottom: solid 1px var(--main-color);
}

nav ul .nav-link {
  color: var(--main-color) !important;
  padding-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 20px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-transform: translateY(2.5px);
  transform: translateY(2.5px);
  border-bottom: solid 4px transparent;
  cursor: pointer;
}

nav ul li:focus {
  outline: none;
}

nav ul .nav-link:hover,
nav ul .active a,
.active nav ul a {
  border-bottom: solid 4px var(--sec-color);
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f0a1270), to(#1f0a12));
  background: linear-gradient(#1f0a1270, #1f0a12);
}

.languge-button .btn {
  color: var(--main-color) !important;
}

.banner {
  height: calc(100vh - 50px);
}

header .btn-home {
  color: var(--main-color);
  background-color: transparent;
  border-radius: 50px;
  border: solid 2px var(--main-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: var(--h3-size);
}

header .btn-home:hover {
  border: solid 2px var(--sec-color);
  color: var(--sec-color);
}

header h1 {
  font-size: var(--h1-home);
  font-family: "arial nova";
  color: var(--main-color);
}

header h3 {
  font-size: var(--h3-home);
  font-family: "arial nova light";
  color: var(--main-color);
}

.bg-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f0a12), to(#1f0a1270));
  background: linear-gradient(#1f0a12, #1f0a1270);
}

/* general styling */
.line-under::after {
  content: "";
  height: 7px;
  width: 90px;
  background-color: var(--sec-color);
  display: block;
  margin-top: 12px;
}

h2 {
  font-size: var(--h2-size);
}
/*# sourceMappingURL=styles.css.map */